.container {
    background-color: var(--color-black);
    width: 100%;
    min-height: 50dvh;
    color: var(--color-platinum);
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    padding-block: var(--text-title);
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
}
/* TITLE */
.title {
    font-size: var(--text-title);
    text-align: center;
    padding-inline: var(--text-header);
}

/* TEXT WRAP */
.textWrap {
    max-width: 90rem;
    padding: clamp(2rem, 4vw, 3.5rem);
    margin-inline: var(--text-title);
    /* GLASSMORPHISM */
    background: #22222250;
    backdrop-filter: blur(0.125rem);
    border: 1px solid #efefef18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
}

.textWrap p {
    color: white;
    font-size: var(--text-p);
    line-height: 2em;
}


