.container {
  width: 100%;
  min-height: 50dvh;
  background-color: var(--color-ceil);
  color: var(--color-black);
  display: flex;
}

/* WRAPPER */
.content {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
  padding: clamp(2rem, 5vw, 4rem);
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 3.5rem);
}

/* TITLE */
.title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.title h3 {
  font-size: var(--text-title);
  font-weight: 700;
  white-space: nowrap;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-black);
}

/* CEO PRESENTATION */
.ceoWrap {
  display: flex;
  gap: var(--text-title);
  align-items: center;
  justify-content: center;
}

/* CEO TEXT */
.ceoText {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--text-header);
  font-size: var(--text-p);
}

/* BREAKPOINTS */
@media (max-width: 900px) {
    .ceoWrap {
        flex-direction: column;
    }
    .ceoText {
        max-width: 100%;
    }
}

@media (max-width: 620px) {
    .title {
        flex-direction: column;
    }
    .title h3 {
        white-space: wrap;
        text-align: center;
    }
}