.container {
    background-color: var(--color-space);
    color: var(--color-platinum);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    place-content: center;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    padding-inline: 1.5rem; /* Відступи безпеки з боків */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: var(--text-header);
}

.mainWrap {
    display: flex;
    justify-content: space-between;
}

/* IMAGE */
.image {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
}

/* TITLE */
.content h1 {
    font-size: var(--text-title);
}