.container {
    background-color: var(--color-old-black);
    width: 100%;
    min-height: 50dvh;
    color: var(--color-platinum);
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    min-height: 40dvh;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    padding-block: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-header);
    
}

/* IMAGE */
.image {
    width: 100%;
    height: 50dvh;
    object-fit: cover;
}

/* ARTICLE */
.article {
    /* background-color: red; */
    margin: var(--text-header);
    padding: var(--text-p);

    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: var(--text-title);

    /* GLASSMORPHISM */
    background: #22222250;
    backdrop-filter: blur(0.125rem);
    border: 1px solid #efefef18; /* Тонка рамка */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2); /* М'яка тінь для об'єму */
    border-radius: 0.6rem;
}

.article h1 {
    font-size: var(--text-title);
    text-align: center;
}
.article p {
    font-size: var(--text-p);
    line-height: var(--text-title);
}
.article time {
    font-size: var(--text-header);
    text-align: end;
}