/* MAIN CONTAINER AND TINT */
.container {
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: clamp(22rem, 30vw, 35rem);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-platinum);
    overflow: hidden;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22222250;
    z-index: 1;
}

/* IMAGE */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(0.1rem);
}

/* BREAKPOINTS */

@media (max-width: 720px) {
    .container {
        width: 100%;
        height: 60dvh;
    }
    .image {
        height: 60dvh;
    }
}

@media (max-width: 400px) {
    .container {
        height: max-content;
    }
    .image {
        height: 100%;
    }
}
