.container {
    width: 100%;
    height: clamp(22rem, 30vw, 35rem);
    justify-content: center;
    align-items: center;
    color: var(--color-platinum);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    width: 100%;
    height: clamp(22rem, 30vw, 35rem);
    object-fit: cover;
}

/* BREAKPOINTS */

@media (max-width: 720px) {
    .container {
        width: 100%;
        height: 50dvh;
    }
    .image {
        height: 50dvh;
    }
}

@media (max-width: 350px) {
    .container {
        height: 70dvh;
    }
    .image {
        height: 70dvh;
    }
}
