@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1600px);
  }
}

.container {
  position: relative;
  width: 100%;
}

.content {
  display: flex;
  width: 3200px;
  animation: scroll 40s linear infinite;
}

.cardWrapper {
  flex: 0 0 320px;
  height: 200px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
