.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  /* MAGIC */
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    #222222 5%,
    #222222 95%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    #222222 5%,
    #222222 95%,
    transparent 100%
  );
}

/* SLIDER */
.slider {
  overflow-x: scroll;
  scrollbar-width: none;
  cursor: grab;

  user-select: none;
  -webkit-user-select: none;
}



.slider::-webkit-scrollbar {
  display: none;
}

.slider:active {
  cursor: grabbing;
}

/* TRACK */
.track {
  /* padding-block: clamp(3rem, 3vw, 5rem); */
  display: flex;
  width: 100%;
  animation: autoScroll 40s linear infinite;
}

.paused .track {
  animation-play-state: paused;
}

/* CARD */
.cardWrapper {
  flex: 0 0 auto;
  padding: 3rem 1.5rem;
}

/* AUTO SCROLL */
@keyframes autoScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* BREAKPOINTS */
@media (max-width: 768px) {
  .track {
    animation-duration: 65s;
  }

  .container {
    mask-image: linear-gradient(
    to right,
    transparent 0%,
    #222222 5%,
    #222222 95%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    #222222 5%,
    #222222 95%,
    transparent 100%
  );
  }
}