.container {
    background-color: var(--color-cold-gray);
    min-height: 50dvh;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-block: 3.125rem;
}

/* TITLE */
.title {
    font-size: var(--text-title);
    text-align: center;
}

/* MAIN INFO */
.infoWrap {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* LEFT SIDE */
.leftWrap {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    padding-inline: 1.563rem;
    gap: var(--text-title);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.header h5 {
    text-align: center;
    font-size: var(--text-header);
    font-weight: bold;
}

.header p {
    font-size: var(--text-p);
}

/* TEXT */
.textWrap {
    display: flex;
    flex-direction: column;
    gap: var(--text-title);
}
.textWrap p {
    font-size: var(--text-p);
}

/* IMAGE */
.image {
    border-radius: 0.6rem;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* RIGHT SIDE */
.rightWrap {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.stepWrap {
    display: flex;
    width: clamp(25rem, 30vw, 41.25rem);
    align-items: center;
    gap: 1.25rem;
}

/* BREAKPOINTS */

@media (max-width: 1080px) {
    .infoWrap {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .stepWrap {
        flex-direction: column;
        padding: 1.25rem;
        width: 100%;
        height: auto;
    }
    .rightWrap {
        gap: 1.25rem;
    }
}