.container {
    background-color: var(--color-cold-grey);
    width: 100%;
    color: var(--color-black);
    
    min-height: 50dvh;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    padding-block: var(--text-header);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--text-header);
}

/* TITLE */
.title {
    font-size: var(--text-title);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.title h3 {
    font-size: var(--text-title);
    font-weight: bold;
    text-align: center;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-black);
}

/* STEPS */
.stepsWrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

/* STEP ONE */
.need {
    font-size: var(--text-p);
    font-weight: bold;
}
.need li {
    list-style-type: disc;
    font-weight: 100;
}
.needP {
    font-size: var(--text-p);
}

/* ARROW */
.arrow {
    width: clamp(4.25rem, 5vw, 10rem);
    height: auto;
}

/* BREAKPOINTS */
@media (max-width: 800px) {
    .title {
        flex-direction: column;
    }
    .title h3 {
        white-space: wrap;
        text-align: center;
    }
}
