.container {
    background-color: var(--color-ceil);
    width: 100%;
    min-height: 50dvh;
    color: var(--color-black);
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--text-header);
    padding-block: var(--text-header);
}

/* TITLE */
.title {
    font-size: var(--text-title);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.title h3 {
    white-space: nowrap;
    font-size: var(--text-title);
    font-weight: bold;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-black);
}

@media (max-width: 620px) {
    .title {
        flex-direction: column;
    }
    .title h3 {
        white-space: wrap;
        text-align: center;
    }
}
