.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center; 
    justify-content: center;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    padding-inline: 1.5rem; /* Відступи безпеки з боків */
    margin-inline: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* HEADER WRAP */
.headerWrap {
    width: clamp(25rem, 40vw, 50rem);
    padding: clamp(2rem, 4vw, 3.5rem);
    
    /* GLASSMORPHISM */
    background: #22222250;
    backdrop-filter: blur(0.125rem);
    border: 1px solid #efefef18; /* Тонка рамка */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2); /* М'яка тінь для об'єму */
    border-radius: 0.6rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
    /* APPEAR ANIMATION */
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
}

/* TEXT */
.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-platinum);
}

.text h1 {
    font-size: clamp(2rem, 2vw, 4rem);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.02em;
    
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    margin: 0;
}

.text h3 {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.8;
    text-align: left;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}