.container {
    background-color: var(--color-black);
    width: 100%;
    color: var(--color-platinum);
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    padding-top: var(--text-header);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--text-header);
}

/* TITLE */
.title {
    font-size: var(--text-title);
    color: var(--color-platinum);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.title h3 {
    white-space: nowrap;
    font-size: var(--text-title);
    font-weight: bold;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-platinum);
}

/* DESCRIPTION */
.descriptionWrap {
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
    padding: var(--text-title);
}
.descriptionWrap h5 {
    font-size: var(--text-header);
}
.descriptionWrap p {
    font-size: var(--text-p);
}

/* TEXT WRAP */
.textWrap {
    width: 100%;
    padding: clamp(2rem, 4vw, 3.5rem);
    margin-inline: var(--text-title);
    /* GLASSMORPHISM */
    background: #22222250;
    backdrop-filter: blur(1rem);
    border: 1px solid #efefef18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
}

.textWrap h5 {
    font-size: var(--text-header);
}

.textWrap p {
    font-size: var(--text-p);
    line-height: 2em;
}

/* ADVICE WRAP */
.adviceWrap {
    display: flex;
    flex-direction: column;
    gap: var(--text-p);
}

/* BREAKPOINTS */

@media (max-width: 720px) {
    .textWrap {
        width: 100%;
        margin: 1.25rem;
    }
}

@media (max-width: 620px) {
    .title {
        flex-direction: column;
    }
    .title h3 {
        white-space: wrap;
        text-align: center;
    }
}
