.container {
    background-color: rgba(0, 0, 255, 0.447);
    max-width: 15rem;

    display: flex;
}

/* ICON */
.icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* TEXT */
.textWrap {
    display: flex;
    flex-direction: column;
}

.textWrap h6 {
    font-size: var(--text-header);
}
.textWrap p {
    font-size: var(--text-p);
}
