.container {
    /* background-color: rgba(0, 0, 255, 0.447); */
    display: flex;
    align-items: center;
    gap: var(--text-p);
}

/* ICON */
.icon {
    width: var(--text-title);
    height: var(--text-title);
}

/* TEXT */
.textWrap {
    display: flex;
    flex-direction: column;
}

.textWrap h6 {
    font-size: var(--text-header);
}
.textWrap p {
    font-size: var(--text-p);
}
