.container {
    background-color: var(--color-black);
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1.25rem; 
}

/* TEXT */
.textWrap {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: var(--text-p);
    color: var(--color-platinum);
}

.textWrap h4 {
    font-size: var(--text-title);
}

/* MENU */
.menuWrap {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.link {
    color: var(--color-platinum);
    font-size: var(--text-p);
}
.link:hover {
    color: crimson;
    transition: all 0.3s ease;
}
.link:active {
    color: var(--color-ceil);
    transition: all 0.1s ease;
}

/* SOCIAL MEDIA */
.socialWrap {
    display: flex;
    gap: var(--text-p);
}

/* ICON */
.icon {
    width: clamp(1.5rem, 5vw, 4.688rem);
    height: clamp(1.5rem, 5vw, 4.688rem);
    filter: invert();
    border-radius: 50%;
    transition: all 0.3s ease-in;
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.28),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
    
}
.icon:hover {
    transform: scale(1.2) translateY(-0.75rem);
    transition: all 0.3s ease-out;
    box-shadow:
        0 14px 34px rgba(0, 0, 0, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
}