.container {
    background-color: var(--color-space);
    color: var(--color-platinum);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    place-content: center;
}

/* MAIN CONTENT */
.content {
    /* background-color: firebrick; */
    width: 100%;
    max-width: 90rem;
    padding-inline: 1.5rem; /* Відступи безпеки з боків */
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 20dvh var(--text-header);
}