.container {
    position: relative;
    width: clamp(35rem, 50vw, 50rem);
    height: clamp(35rem, 50vw, 50rem);
    border-radius: 0.6rem;
    background-color: #22222250;
    padding: 0.6rem;
}

/* BREAKPOINTS */

@media (max-width: 900px) {
    .container {
        width: 45rem;
        height: 45rem;
    }
}

@media (max-width: 750px) {
    .container {
        width: 30rem;
        height: 30rem;
    }
}

@media (max-width: 480px) {
    .container {
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 400px) {
    .container {
        width: 17rem;
        height: 17rem;
    }
}