
.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center; 
    justify-content: center;
}

/* VIDEO BACKGROUND */
.videoWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* VIDEO OVERLAY */
.videoWrap::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #22222250;
    z-index: 0;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    padding-inline: 1.5rem; /* Відступи безпеки з боків */
    margin-inline: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* HEADER WRAP */
.headerWrap {
    width: clamp(25rem, 40vw, 50rem);
    padding: clamp(2rem, 4vw, 3.5rem);
    
    /* GLASSMORPHISM */
    background: #22222250;
    backdrop-filter: blur(0.125rem);
    border: 1px solid #efefef18; /* Тонка рамка */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2); /* М'яка тінь для об'єму */
    border-radius: 0.6rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    
    /* APPEAR ANIMATION */
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
}

/* TEXT */
.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-platinum);
}

.text h1 {
    font-size: clamp(2rem, 2vw, 4rem);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.02em;
    
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    margin: 0;
}

.text h3 {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.8;
    text-align: left;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

/* BUTTON */
.btn {
    width: fit-content;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    
    color: var(--color-platinum);
    background: #ffffff10;
    border: 1px solid #ffffff10;
    border-radius: 1.25rem;
    
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    
    text-shadow: none;
}

.btn:hover {
    background: var(--color-ceil);
    color: var(--color-black);
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.btn:active {
    transform: translateY(0.2rem);
    opacity: 0.9;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MOBILE BREAKPOINTS */
@media (max-width: 850px) {
    .content {
        justify-content: center;
    }
    
    .headerWrap {
        width: 90%;
        /* align-items: center; Центруємо контент на мобільному */
        /* text-align: center; */
        /* background: rgba(0, 0, 0, 0.4); На мобільному можна зробити темнішу підкладку */
        /* backdrop-filter: blur(8px); */
    }

    .text h3 {
        text-align: center;
    }
}