.container {
    background-color: var(--color-ceil);
    min-height: 50dvh;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
    padding-block: var(--text-header);
}

/* TITLE */
.title {
    font-size: var(--text-title);
    color: var(--color-black);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.title h3 {
    white-space: nowrap;
    font-size: var(--text-title);
    font-weight: bold;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-black);
}

/* LINK */
.link {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--text-header);
    text-align: center;
    color: var(--color-black);
    transition: color 0.5s ease;
}
.link:hover {
    color: crimson;
    transition: color 0.5s ease;
}
.link:active {
    color: var(--color-platinum);
    transition: color 0.2s ease;
}