.container {
    background-color: var(--color-space);
    width: 100%;
    min-height: 50dvh;
    color: var(--color-platinum);
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--text-header);
    padding-block: var(--text-header);
}

/* TITLE */
.title {
    font-size: var(--text-title);
    color: var(--color-platinum);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.title h3 {
    white-space: nowrap;
    font-size: var(--text-title);
    font-weight: bold;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-platinum);
}

/* INFO */
.infoWrap {
    /* background-color: aqua; */
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
    align-items: center;
}

/* TEXT PART */
.textWrap {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
    width: clamp(15rem, 30vw, 30rem);
    padding: 1.25rem;
}

/* HEADERS */
.header {
    font-size: var(--text-header);
}

.headerWrap {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

/* ICON */
.icon {
    filter: invert();
    width: clamp(1.5rem, 2vw, 4rem);
    height: clamp(1.5rem, 2vw, 4rem);;
}

/* LOCATION */
.locationWrap {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1.5vw, 1rem);
}

.location {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* WORK HOURS */
.workHoursWrap {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1.5vw, 1rem);
}

.workHours {
    display: flex;
    gap: var(--text-title);
}
.days {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.hours {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.days p {
    font-weight: 400;
}

/* CONTACTS */
.contactsWrap {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1.5vw, 1rem);
}
.contacts {
    display: flex;
    gap: var(--text-title);
}

/* NAMES */
.contactsNames {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.contactsNames p {
    font-weight: 400;
}

.contactsNumbers {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* BREAKPOINTS */

@media (max-width: 900px) {
    .infoWrap {
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .title {
        flex-direction: column;
    }
    .title h3 {
        white-space: wrap;
        text-align: center;
    }
}
