.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
}

/* VIDEO */
.videoWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
}

/* HEADER */
.headerWrap {
    width: 46.875rem;
    padding: 1.25rem;
    z-index: 10;
    /* background-color: rgba(238, 130, 238, 0.413); */
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.text h1 {
    font-size: clamp(1.625rem, 2.5vw, 3.75rem);
    font-weight: bold;
    color: var(--color-black);
    text-shadow:
        -1px -1px 0 #e7e9e690,
        1px -1px 0 #e7e9e690,
        -1px 1px 0 #e7e9e690,
        1px 1px 0 #e7e9e690;
}
.text h3 {
    font-size: clamp(1rem, 1.5vw, 1.875rem);
    font-weight: 100;
    color: var(--color-black);
    text-align: center;
    text-shadow:
        -1px -1px 0 #e7e9e690,
        1px -1px 0 #e7e9e690,
        -1px 1px 0 #e7e9e690,
        1px 1px 0 #e7e9e690;
}
/* BUTTON */
.btn {
    width: fit-content;
    border-radius: 0.3rem;
    border: 1px solid var(--color-ceil);
    color: #222222;
    text-shadow:
        -1px -1px 0 #e7e9e690,
        1px -1px 0 #e7e9e690,
        -1px 1px 0 #e7e9e690,
        1px 1px 0 #e7e9e690;
    background-color: transparent;
    padding: clamp(0.6rem, 1vw, 1.25rem);
    align-self: center;
    font-size: clamp(1rem, 1.5vw, 1.625rem);
}
.btn:hover {
    background: linear-gradient(
        180deg,
        rgba(64, 129, 151, 40%) 0%,
        rgba(48, 72, 105, 40%) 50%,
        rgba(14, 6, 18, 40%) 100%
    );
    backdrop-filter: blur(0.2rem);
    border-color: #22222290;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.btn:active {
    background-color: #313647;
    color: var(--color-platinum);
    text-shadow:
        -1px -1px 0 #22222290,
        1px -1px 0 #22222290,
        -1px 1px 0 #22222290,
        1px 1px 0 #22222290;
    transition: all 0.1s ease-in-out;
}

/* MOBILE BREAKPOINTS */

@media (max-width: 850px) {
    .content {
        justify-content: center;
    }

    .btn {
        font-size: 1.25rem;
        padding: 0.85rem;
    }

    .text h3 {
        text-shadow:
            none;
        color: var(--color-platinum);
    }
}

@media (max-width: 500px) {
    .headerWrap {
        width: 100%;
    }

    .btn {
        font-size: 1rem;
        padding: 0.75rem;
    }
}