.container {
    background-color: var(--color-cold-gray);
    min-height: 50dvh;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    background-color: rgba(255, 68, 0, 0.342);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-block: 3.125rem;
}

/* TITLE */
.title {
    font-size: var(--text-title);
    text-align: center;
}

/* MAIN INFO */
.infoWrap {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* LEFT SIDE */
.leftWrap {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    padding-inline: 1.563rem;
    gap: var(--text-title);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.header h3 {
    text-align: center;
    font-size: var(--text-header);
    font-weight: bold;
}

.header p {
    font-size: var(--text-p);
}

/* TEXT */
.textWrap {
    display: flex;
    flex-direction: column;
    gap: var(--text-title);
}
.textWrap p {
    font-size: var(--text-p);
}

/* IMAGE */
.image {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* RIGHT SIDE */
.rightWrap {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* BUTTON */
.btn {
    width: fit-content;
    border-radius: 0.3rem;
    border: 1px solid var(--color-ceil);
    color: #222222;
    text-shadow:
        -1px -1px 0 #e7e9e690,
        1px -1px 0 #e7e9e690,
        -1px 1px 0 #e7e9e690,
        1px 1px 0 #e7e9e690;
    background-color: transparent;
    padding: clamp(0.6rem, 1vw, 1.25rem);
    align-self: center;
    font-size: clamp(1rem, 1.5vw, 1.625rem);
}
.btn:hover {
    background: linear-gradient(
        180deg,
        rgba(64, 129, 151, 40%) 0%,
        rgba(48, 72, 105, 40%) 50%,
        rgba(14, 6, 18, 40%) 100%
    );
    backdrop-filter: blur(0.2rem);
    border-color: #22222290;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.btn:active {
    background-color: #313647;
    color: var(--color-platinum);
    text-shadow:
        -1px -1px 0 #22222290,
        1px -1px 0 #22222290,
        -1px 1px 0 #22222290,
        1px 1px 0 #22222290;
    transition: all 0.1s ease-in-out;
}

/* BREAKPOINTS */

@media (max-width: 1080px) {
    .infoWrap {
        flex-direction: column;
    }
}