.container {
    background-color: var(--color-cold-gray);
    min-height: 50dvh;
}

/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 90rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-block: 3.125rem;
}

/* TITLE */
.title {
    font-size: var(--text-title);
    text-align: center;
}

/* MAIN INFO */
.infoWrap {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* LEFT SIDE */
.leftWrap {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    padding-inline: 1.563rem;
    gap: var(--text-title);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.header h3 {
    text-align: center;
    font-size: var(--text-header);
    font-weight: bold;
}

.header p {
    font-size: var(--text-p);
}

/* TEXT */
.textWrap {
    display: flex;
    flex-direction: column;
    gap: var(--text-title);
}
.textWrap p {
    font-size: var(--text-p);
}

/* IMAGE */
.image {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* RIGHT SIDE */
.rightWrap {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    gap: var(--text-header);
}

/* BUTTON */
.btn {
    width: fit-content;
    padding: 1.25rem 2.25rem;
    font-size: var(--text-p);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    align-self: center;
    
    color: var(--color-black);
    background: #22222210;
    border: 1px solid #22222210;
    border-radius: 1.25rem;
    
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    
    text-shadow: none;
}

.btn:hover {
    background: var(--color-ceil);
    color: var(--color-black);
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(0.2rem);
}

/* BREAKPOINTS */

@media (max-width: 1080px) {
    .infoWrap {
        flex-direction: column;
    }
}