.container {
    background-color: var(--color-cold-gray);
    font-weight: 100;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 90rem;
    padding-block: 3.125rem;
    /* background-color: rgba(255, 68, 0, 0.342); */
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 1.5vw, 1.875rem);
}

.textWrap {
    /* background-color: rgba(255, 0, 191, 0.37); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(3rem, 3vw, 6.25rem);
}

/* TITLE AND TEXT */
.header {
    /* background-color: royalblue; */
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    width: clamp(25rem, 3vw, 34.375rem);
    text-align: center;
}

.title {
    font-size: clamp(1.25rem, 1.5vw, 1.875rem);
    font-weight: bold;
}

.text {
    font-size: clamp(0.875rem, 1vw, 1.25rem);
}

/* STATS */
.statsWrap {
    /* background-color: chartreuse; */
    max-width: 15rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: clamp(1.25rem, 2vw, 3.125rem);
}

.statItem {
    display: flex;
    flex-direction: column;
    max-width: 15.625rem;
    gap: 0.125rem;
    text-align: center;
}
.statItem h5 {
    font-size: clamp(1.5rem, 2vw, 3.125rem);
}
.statItem p {
    font-size: clamp(0.875rem, 1vw, 1.25rem);
}

/* PERKS LIST */
.perksWrap {
    /* background-color: rgba(0, 255, 123, 0.37); */
    max-width: 50rem;
    max-height: 50rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: clamp(1rem, 2vw, 2.5rem)
}

/* MOBILE BREAKPOINTS */

@media (max-width: 890px) {

    .content {
        width: 100%;
        flex-direction: column;
    }

    .textWrap {
        flex-direction: row;
        gap: 0.5rem;
    }
    
    .header {
        width: 100%;
    }
}

@media (max-width: 550px) {

    .textWrap {
        flex-direction: column;
        gap: 1rem;
    }

    .perksWrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}