.form {
    background-color: var(--color-space);
    color: var(--color-platinum);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: var(--text-header);
}

/* INPUT */
.input {
    width: clamp(15rem, 35vw, 35rem);
    align-self: center;
    
    padding: 1.25rem 2.25rem;

    border-radius: 0.6rem;
    border: 1px solid #e9e7e650;

    background-color: var(--color-space);
    color: var(--color-platinum);
}

/* BUTTON */
.btn {
    width: fit-content;
    padding: 1.25rem 2.25rem;
    font-size: var(--text-p);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    align-self: center;
    
    color: var(--color-black);
    background: #e9e7e650;
    border: 1px solid #22222210;
    border-radius: 1.25rem;
    
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    
    text-shadow: none;
}

.btn:hover {
    background: var(--color-black);
    color: var(--color-platinum);
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(0.2rem);
}

/* ERROR */
.error {
    align-self: center;
    font-size: var(--text-p);
    color: crimson;
}