.container {
  position: fixed;
  inset: 0;
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-platinum);

  overscroll-behavior: contain;
}

.content {
}
