/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    display: flex;
    align-items: center;
    gap: clamp(1.625rem, 5vw, 6.25rem);
    padding: 0.625rem 1.25rem;

    background: linear-gradient(
        180deg,
        rgba(64, 129, 151, 40%) 0%,
        rgba(48, 72, 105, 40%) 50%,
        rgba(14, 6, 18, 40%) 100%
    );
    backdrop-filter: blur(0.2rem);

    border: 1px solid #22222290;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    transition:
        transform 0.35s ease,
        opacity 0.25s ease;
}

/* HIDDEN ON SCROLL */
.hidden {
    transform: translate(-50%, -130%);
    opacity: 0;
}

/* LOGO */
.logoWrap {
  display: flex;
  align-items: center;
  gap: 0.313rem;
  
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
}
.logoWrap:hover {
  transform: scale(1.02);
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
}

.logoLink {
    text-decoration: none;
}

.image {
    width: clamp(3rem, 5vw, 6.25rem);
    height: auto;
}

.titleWrap {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: clamp(1.5rem, 3vw, 3.125rem);
    font-weight: bold;
    color: var(--color-platinum);
    white-space: nowrap;
    -webkit-text-stroke: 1.5px var(--color-black);
}

.text {
    font-size: clamp(0.55rem, 1vw, 1.25rem);
    color: var(--color-platinum);
    white-space: nowrap;
}

/* MENU */
.navList {
    color: var(--color-platinum);
    list-style: none;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, 2vw, 1.875rem);
    font-size: clamp(1.2rem, 1.5vw, 1.875rem);
}


/* LINK BASE */
.link {
  position: relative;
  display: inline-block;
  color: var(--color-platinum);
  text-decoration: none;
  text-shadow:
        -1px -1px 0 #222,
        1px -1px 0 #222,
        -1px 1px 0 #222,
        1px 1px 0 #222;
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
}

/* TEXT DEPTH */
.link:hover {
  transform: translateY(-2px) scale(1.02);
}

/* CLICK EFFECT */
.link:active {
  color: var(--color-ceil);
  transition: color 0.1s ease-in;
}

/* ANIMATED UNDERLINE */
.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    #9fd9ff,
    transparent
  );
  transform: translateX(-50%);
  transition: width 0.4s ease;
}

.link:hover::after {
  width: 120%;
}


/* BURGER */
.burger {
  display: none;
  position: relative;
  width: 2rem;
  height: 1.5rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* COMMON LINE STYLE */
.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-platinum);
  border-radius: 3px;
  transition:
    transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.25s ease;
}

/* LINE POSITIONS (DEFAULT) */
.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
}

/* OPEN STATE → PERFECT X */
.burger.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* MOBILE BREAKPOINTS*/

@media (max-width: 750px) {
    .logoBtnWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navbar {
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: none;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .hidden {
        transform: translateY(-120%);
    }

    .burger {
        display: block;
    }

    .navList {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition:
            max-height 0.35s ease,
            opacity 0.25s ease;
    }

    .navList.open {
        max-height: 500px;
        opacity: 1;
        display: flex;
        margin-top: 0.5rem;
    }

    .title {
        -webkit-text-stroke: 1px var(--color-black);
    }
}
