.container {
    background-color: transparent;
    width: clamp(8rem, 12vw, 13rem);
    height: clamp(8rem, 12vw, 13rem);
    border: 1px solid var(--color-ceil);
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: 0.4rem;
}
/* ICON */
.icon {
    width: clamp(3rem, 3.5vw, 5rem);
    height: clamp(3rem, 3.5vw, 5rem);
}

/* TEXT */
.container p {
    font-size: clamp(0.875rem, 1vw, 1.25rem);
    text-align: center;
}