/* VIDEO BACKGROUND */
.videoWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* VIDEO OVERLAY */
.videoWrap::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #22222250;
    z-index: 0;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}