*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #222222;
  --color-old-black: #292827;
  --color-platinum: #e7e9e6;
  --color-ceil: #8fabd4;
  --color-space: #313647;
  --color-cold-gray: #d4dddf;
  --color-foil: #b1a313;

  --text-title: clamp(1.625rem, 2.5vw, 3.125rem);
  --text-header: clamp(1.25rem, 1.5vw, 1.875rem);
  --text-p: clamp(0.875rem, 1vw, 1.25rem);
}

html {
  scrollbar-gutter: stable;
  overflow-y: auto;
  overflow-x: hidden;
  
}

body {
  font-weight: 100;
  overflow-x: hidden;
}

ul, li {
  list-style-type: none;
}